@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-twoslash/twoslash.css";

@import '@repo/design-system/styles/globals.css';

:root {
  --fd-layout-width: 100vw;
}

aside {
  background-color: var(--color-fd-background);
}

aside a[data-active="true"] {
  color: var(--color-fd-foreground);
  background-color: var(--color-fd-accent);
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 14px;
}

g.main:has(> g.plot) > rect {
  display: none;
}

video {
  border-radius: 40px;
}
